# Ignore Java project files #
*.class
*.jar
*.war
*.ear

**/target
dependency-reduced-pom.xml

# Ignore IntelliJ project files #

*.iml
*.ipr
*.iws
.idea/

# Ignore generated Python files
chat-client-python/chat_openapi
chat-client-python/chat_openapi_README.md
chat-client-python/.openapi-generator/
chat-client-python/.openapi-generator-ignore
